alias doco='docker-compose'
alias docor='docker-compose run'
alias docorm='docker-compose run --rm'
alias docoe='docker-compose exec'

alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias cf='config'

alias gti='git'

alias grep='rg'
