[alias]
	st = status
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	plog = log --color=always --format='%C(auto) %h %d %s %Cblue%(trailers:key=Issue,valueonly)' --graph --decorate
	cim = commit -m
	cam = commit --amend
	cif = commit --fixup
	co = checkout
	pf = push --force-with-lease
	br = branch
	lbr = fqor-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	wip = commit -m \"wip\" --no-verify
	pop = reset HEAD~1
	cp = cherry-pick
	f = fetch
[core]
	excludesfile = ~/.gitignore
[diff]
	colorMoved = zebra
[push]
	default = current
	autoSetupRemote = true
[include]
    path = .gitconfig.local
[pull]
	ff = true
[user]
	email = eugene.nelou@gmail.com
	name = Eugène Nélou
